@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@400;500&display=swap');

body {
    background-image: url('../img/Digital-Humanities.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.webdev-img {
    width: 100%;
    height: auto;
}


.webdev-header {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    color: #762124;
    
}

.webdev-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: white;
}

.fa-facebook-square, .fa-instagram-square {
    color: blue;
    font-size: 30px;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 500px;
}

th {
    color: blue;
}

.apply > a:hover {
    color: red;
}

.apply > a:active {
    color: green;
}